
.ipynb_checkpoints
logs
.yarn/*
.firebase/
.pybuilder/
.parcel-cache
eggs/
parts/
build/Release
__marimo__/
!.yarn/releases
venv.bak/
.fusebox/
.yarn-integrity
.coverage.*
.npm
**/.vitepress/dist
yarn-debug.log*
.hypothesis/
lerna-debug.log*
**/.vitepress/cache
.dynamodb/
db.sqlite3-journal
var/
profile_default/
pip-log.txt
vite.config.js.timestamp-*
web_modules/
*.tgz
instance/
lib/
.pytest_cache/
coverage
!.env.example
.env
.svelte-kit/
*.py.cover
pids
.nuxt
.tern-port
*.spec
.abstra/
vite.config.ts.timestamp-*
.stylelintcache
.docusaurus
MANIFEST
.envrc
*.pid
__pycache__/
.cache/
ENV/
.pixi
cython_debug/
docs/_build/
.next
.nyc_output
pip-delete-this-directory.txt
*.lcov
bower_components
*.mo
*.cover
.grunt
venv/
downloads/
env/
htmlcov/
.cache
.ropeproject
target/
db.sqlite3
*.py[codz]
.env.*
*.egg
local_settings.py
dist
celerybeat.pid
npm-debug.log*
*.so
lib-cov
dmypy.json
.eggs/
.streamlit/secrets.toml
/site
.venv
.node_repl_history
.dmypy.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.installed.cfg
coverage.xml
*.pid.lock
.eslintcache
!.yarn/sdks
*.egg-info/
.tox/
env.bak/
nosetests.xml
out
.serverless/
node_modules/
yarn-error.log*
.vscode-test
.nox/
!.yarn/patches
.lock-wscript
.vuepress/dist
share/python-wheels/
.Python
jspm_packages/
*$py.class
marimo/_lsp/
__pypackages__/
sdist/
build/
.scrapy
!.yarn/plugins
celerybeat-schedule
*.manifest
.spyderproject
wheels/
.pdm-python
.mypy_cache/
!.yarn/versions
lib64/
.webassets-cache
marimo/_static/
*.seed
dist/
cover/
.pdm-build/
*.tsbuildinfo
.pypirc
*.log
.spyproject
.pnp.*
*.pot
.pytype/
.temp
*.sage.py
.ruff_cache/
develop-eggs/
.pyre/
ipython_config.py
.coverage
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node` for https://github.com/Sarverott/overlord.git with  [UNIXUSAT=1755715061473]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
